nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    display: flex;
    align-items: center;

    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.nav-title img {
    margin-right: 10px;
}

.nav-title span {
    color: #FF42A5;

}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

li a {
    text-decoration: none;
    color: #424242;

}

.icon-content {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 3px;
    align-items: center;
}


#youtube {
    margin-right: 5px;
    color: red;
}

.banner {
    display: flex;
}

.background_cover {
    background-image: url('../images/Group_14.png');
    background-repeat: no-repeat;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.h2-style {
    text-align: center;
    font-family: Work Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-style {
    color: #534C64;

    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    word-wrap: break-word;
}

.btn_style1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: none;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}

.btn_style2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
}


.bg-color {

    width: 1920px;
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.header_last_style {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.text {
    text-align: end;
    margin-right: 240px;
}

.gamer_text {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.last_text {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */

}

.firs-text {
    text-align: center;
}

#h5_text {
    color: #0B0223;

    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

}

#h5_text span {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.grid-system {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 48px;
}

/* procosos */



/*  */

.bg-careers {
    width: 1920px;
    height: 821px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    margin-top: 120px;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin {
    margin-left: 240px;
}

.text-careers {
    color: #FFF;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.text-gamer {
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    word-wrap: break-word;
}

.tow-cloum {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 97px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 200% */
}

.btn {
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FFF;
    border: 0;
    color: #FF42A5;
}


.top-margin {
    margin-top: 130px;
}

.text-img-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 33px;
    margin-left: 240px;
    margin-right: 240px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 243px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;

}

#border_style {
    border-radius: 50px;
    border: 1.5px solid var(--Linear, #FF42A5);
    background: #FFF;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


footer {
    width: 1920px;
    height: 636px;
    flex-shrink: 0;
    background: #0B0223;
    margin-top: 129.83px;
}

.icon_style {

    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;



}
.img-text{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 126px;
}
.icon_style img {
    margin-right: 10px;
   
}

.icon_style span {
    color: #FF42A5;

}

.inline_style {
    display: flex;
    justify-content: center;
    align-items: center
    ;
}

.inline_style p {

    color: white;

    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 60px;
}

.svg{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
}
.inline{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inline p{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right: 60px;
}

.footer-last{
    
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}